.culo{
    background-color: #00fff9;
}

.culo1{
    background-color: #ce14c8;
}

culo3{
    font: white;
}

.wrapper {
  .make-row(red);
}
.content-main {
  .make-lg-column(8);
}
.content-secondary {
  .make-lg-column(3);
  .make-lg-column-offset(1);
}

.h1customtxtcolor{
  color:white
}

.btn{
  width: 120px;
}
